<simple-notifications></simple-notifications>
<div class="container" *ngIf="isDataAvailable">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-offset-3 col-sm-2 control-label">User:</label>
            <div class="col-sm-3">
                <select class="form-control" name="user" [(ngModel)]="user" (ngModelChange)="onUserChange()">
                    <option *ngFor="let u of users" [ngValue]="u">{{u.name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<report-by-user [userId]="user.id" *ngIf="isUserSelected"></report-by-user>
<br><br>
<report-by-team [userId]="user.id" *ngIf="isUserSelected" ></report-by-team>


